.content {
  display: flex;
  padding: 7%;
}

.first_half {
  width: 50%;
}

.second_half {
  width: 50%;
}

.dropdown summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.7rem;
  user-select: none;
  transition: 0.2s;
}

.dropdown p {
  padding: 0.7rem;
}

.current {
  background: #e7f1fd;
  color: #356380;
  border-radius: 10rem;
}
