@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  --bg-color1: #16587b;
  --bg-color2: #80cdc5;
  --font-color-white: white;
  --font-color-black: black;
  --font-color-grey: grey;
  --font-color-teal: #4790a9;
  --counter-color-light: #01abf3;
  --counter-color-dark: #5470f7;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100svh;
  overflow: clip;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}
